/*Código armado por La Foca Loca S.A. No modificar*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  color: #eca628;
}

.col-40 h1 {
  font-size: 20px;
  color: #eca628;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 30px;
  min-width: 500px;
  color: #000;
}

.col-60 {
  background: #eca628;

}

.col-60 div{
  width: 30%;
  height: 30%;
  float: left;
}

.col-60 img{
  width: 100%;
  border: 1px solid #000;
}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}
.texto-centrado img{
  width: 75%;
  margin-top: 30px;

}

#juego{
  width: 900px;
  height: 900px;
  min-width: 300px;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
